dist: xenial
sudo: false

language: d
os:
 - linux
d:
 - dmd
 - ldc

addons:
  apt:
    packages:
      - pkg-config

branches:
  only:
  - master

install:
  - sudo apt-get install python3-pip python3-setuptools
  - pip3 install 'meson==0.48.2'
  - mkdir .ntmp
  - curl -L https://github.com/ninja-build/ninja/releases/download/v1.8.2/ninja-linux.zip -o .ntmp/ninja-linux.zip
  - unzip .ntmp/ninja-linux.zip -d .ntmp

before_script:
  export PATH=$PATH:$PWD/.ntmp

script:
  - meson build && ninja -j2 -C build
  - ninja -j2 -C build test -v
  - dub build --build=release --compiler=${DC}
  - dub test --compiler=${DC}
