name: CI

on: [push, pull_request]

jobs:
  main:
    name: Build and test
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
        dc: [dmd-latest, ldc-latest]
        libdparse-version: [min, max]
        include:
        - { os: ubuntu-latest, dc: dmd-2.088.0, libdparse-version: min }
        - { os: ubuntu-latest, dc: ldc-1.17.0, libdparse-version: min }
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2

      - name: Prepare compiler
        uses: dlang-community/setup-dlang@v1
        with:
          compiler: ${{ matrix.dc }}
          
      - name: Build
        env:
          DC: ${{matrix.dc}}
          LIBDPARSE_VERSION: ${{ matrix.libdparse-version }}
        run: |
          git submodule update --init --recursive
          rdmd ./d-test-utils/test_with_package.d $LIBDPARSE_VERSION libdparse -- dub build --build=release

      - name: Test
        env:
          DC: ${{matrix.dc}}
          LIBDPARSE_VERSION: ${{ matrix.libdparse-version }}
        run: |
          rdmd ./d-test-utils/test_with_package.d $LIBDPARSE_VERSION libdparse -- dub test
